# Server Configuration
NAME="NodeJS Media Stream"
NODE_ENV=development
PORT=3000
DOMAIN=localhost
PRIVKEY=
FULLCHAIN=
URL=http://127.0.0.1:3000
TZ=Asia/Tehran

# Database Configuration
DATABASE_URL=
DB_TYPE=sqlite
DB_HOST=localhost
DB_PORT=5432
DB_NAME=app
DB_USER=user
DB_PASSWORD=pass
DB_STORAGE=database.sqlite
DB_LOGGING=false
DB_POOL_MAX=5
DB_POOL_MIN=0
DB_POOL_IDLE=10000
DB_POOL_ACQUIRE=30000
DB_SSL=false
DB_TIMEZONE=Z
DB_SCHEMA=public

# STREAM Configuration
STREAM_WEBVIEW=true
CHANNELS_DIR=./channels
HLS_BASE_URL=/hls
HLS_ROOT_DIR=./public/hls
STREAM_WEBVIEW_PATH=/
STREAM_WEBVIEW_SECRET=""

# FFMPEG Configuration
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
