/node_modules/
/.idea
/.env
/public/*
/data
/logs
/dist
!/public/.gitkeep
!/public/stream/
!/public/stream/player.css
!/public/stream/player.js
!/public/vendor/
!/public/vendor/hls/
!/public/vendor/hls/hls.min.js
